@model IEnumerable<WorldBuilder.Models.Lore>

@{
    ViewData["Title"] = "Lore";
}

<h1>Lore</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.World)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Lore" asp-route-id="@item.LoreID">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                <a asp-area="" asp-controller="Worlds" asp-action="World" asp-route-id="@item.WorldID">@Html.DisplayFor(modelItem => item.World.Name)</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.LoreID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
