@model WorldBuilder.Models.World

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<a asp-action="Edit" asp-route-id="@Model.WorldID">Edit</a>

<div>
    <hr />


    <p>
        @Html.DisplayFor(model => model.Summary)
    </p>


</div>
<div class="container">

    @if (ViewBag.data != null)
    {<div class="row">
    <div style="display:inline-block;">
       
        <h3>Characters</h3>
        <hr />

        <ol>
            @foreach (var item in ViewBag.data)
            {
                <li><a asp-area="" asp-controller="Characters" asp-action="Character" asp-route-id="@item.CharacterID">@item.Name</a></li>
            }
        </ol>
        </div>
    </div>
    }


    @if (ViewBag.loc != null)
    {
        <div class="row">
            <div style="display:inline-block;">
                
                <h3>Locations</h3>
                <hr />
                <ol>
                    @foreach (var item in ViewBag.loc)
                    {
                        <li><a asp-area="" asp-controller="Locations" asp-action="Location" asp-route-id="@item.LocationID">@item.Name</a></li>
                    }
                </ol>
            </div>
        </div>
    }

    @if (ViewBag.lore != null)
    {
<div class="row">
    <div style="display:inline-block;">
        <h3>
            Lore
        </h3>
        <hr/>
        <ol>
            @foreach (var item in ViewBag.lore)
            {
                <li><a asp-area="" asp-controller="Lores" asp-action="Lore" asp-route-id="@item.LoreID">@item.Title</a></li>
            }
            </ol>
        </div>
    </div>
    }
</div>

