@model WorldBuilder.Models.Character

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1><a asp-area="" asp-controller="Worlds" asp-action="World" asp-route-id="@Model.World.WorldID">@Model.World.Name</a>
<br />
@if (Model.Location != null)
{
    <p>Current Location: <a asp-area="" asp-controller="Locations" asp-action="Location" asp-route-id="@Model.Location.LocationID">@Model.Location.Name</a></p>
}

<div>
    <hr />
    <h3>Summary</h3>
    <hr />
    <p>@Model.Summary</p>
</div>

 @if(ViewBag.relations!=null)
{
<ul>
    @foreach(var r in ViewBag.relations)
    {
    <li><a a asp-area="" asp-controller="Characters" asp-action="Character" asp-route-id="@r.Relative.CharacterID">@r.Relative.Name</a>  @r.Relation.Description  <a asp-area="" asp-controller="Relationships" asp-action="Delete" asp-route-id="@r.ID">Remove</a> </li> 

    }
</ul>
}

<div>
    <a asp-area="" asp-controller="Relationships" asp-action="Create" asp-route-id="@Model.CharacterID">Add Relationship</a> |
    <a asp-action="Edit" asp-route-id="@Model.CharacterID">Edit</a> 
</div>
